@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    height: 100vh;
}


.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
  
.input-container input[type="text"] {
    width: 300px;
    padding: 0.5rem;
    font-size: 1.2rem;
    margin-right: 1rem;
}
  
.input-container button {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: none;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

  